@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}
 h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 30px;

 }

.nav {
  padding: 0 40px 0 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

}

.logotext {
    color:#405CA9;
    font-size: 22px;
    text-transform: uppercase;
}

.logo {
width: 10%;

}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style-type: none;
  padding-right: 30px;
}

a{
  text-decoration: none;
  color:#405CA9;
 text-align: center;
 font-size: 20px;
 font-weight:bold;
 transition: 0.3s;
}

a:hover{
  color: #F79C1D;
}

